html {
    height: 100%;
}

body {
	min-height: 100vh;
	background: #EEEFEB;
}

.text {
	color: black;
/* 	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; */
	font-family: 'Montserrat';
	text-decoration: none;
}

#boxes {
        content: "";
        display: table;
        clear: both;
}

div {
        height: 100vh;
	float: left;
        width: 50%;
        padding: 0 0;
}

nav {
	text-align: center;
}
