body {
	height: 100vh;
	background: #EEEFEB;
	color: black;
	font-family: 'Montserrat';
}

#boxes {
        content: "";
        display: table;
        clear: both;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navigation-and-contact {
	margin: 2.5vh, 0;
	height: 60px;
}

#navigation {
	float: left; 
	width: 50%;
	height: inherit;
	flex: 1;
	display: flex;
    justify-content: left;
    align-items: left;
}

#github-email-linkedin {
	float: left; 
	width: 50%;
	height: inherit;
	flex: 1;
	display: flex;
    justify-content: right;
    align-items: right;
}

.outer-div, .project-photo {
	display: block;
	height: 100px;
}

#left-side {
	float: left; 
	width: 50%;
	height: inherit;
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
	background-image: url('images/gt_grad_tech_tower_2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#right-side {
	float: left; 
	width: 50%;
	height: inherit;
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
}
	
#right-side p {
	margin: 2em;
	font-size : 2.3vmin;
	vertical-align: middle;
	text-align: left;
}

#photos div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	display: inline-block;
	padding: 0, 4vw;
	text-decoration: none;
	color: inherit;
}

#desktop-nav ul {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
  }

nav ul li {
    list-style-type: none;
    padding-left: 0;
}

#desktop-nav ul li a {
    padding: 1em;
	padding-top: 1.3em;
	display: block;
 }

 a:hover {
 color: gray;
}

.outer-div {
    padding: 4vh 3vw 4vh 3vw;
	height: 50vw;
	display: block;
	text-align: center;
}

#name {
    font-weight: bold;
}

span {
    display: inline-block;
    padding-left: 1.5em;
}

div h1 {
	text-align: center;
	clear: both;
}

.github-email-linkedin {
	display: inline-block;
	padding: 1.2em;
}

ion-icon {
	font-size: 1.5em;
}

img {
	float: left;
	height: inherit;
	width: auto;

}

td {
	width: 50%;
	max-height: 291px;
}

.menu-icon {
	display: none;
}

#mobile-nav {
	display: none;
}

footer div div {
	width: 15%;
}

footer img {
	object-fit: cover;
	object-position: bottom;
	/* padding: 5px; */
	width: 100%;
}

#free-time {
	text-align: center;
	font-size : 2.3vmin;
	padding: 2vh 0;
	clear: both;
}

#footer-container-mobile {
	display: none;
}

#footer-container {
	--num-cols: 6;
	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 1.5%;
	clear: both;
	padding-bottom: 2vh;
}

#footer-container div img {
	width: 100%;
}

#projects-container {
	--num-cols: 2;
	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: repeat(2, 1fr);
	gap: 2vw;
	clear: both;
	margin: 7vh 3vw 3vh 3vw;
}

#projects-container div img {
	width: 100%;
}

#projects-container div p {
	display: inline-block;
	margin-top: 3vh;
}

#projects-container div {
	text-align: center;
}

.project-photo {
	min-height: 50%;
	margin-bottom: 0;
}

.active-page {
	color: grey;
}

.project-height {
	height: 50vh;
}

.project-photo img {
	height: 50vh;
	margin-bottom: 4vh;
	margin-right: auto;
	margin-left: auto;
}

.project-photo {
	display: flex;
	justify-content: center;
	padding-bottom: 5vh;
}

.project-photo img {
	width: 75%;
	height: auto;
	margin: auto;
	padding-top: 0;
	margin-top: 0;
	vertical-align: text-top;
	padding-bottom: 5vh;
}

.project-photo img {
	margin-top: 0;
	padding-top: 0;
}

.project-description {
	display: flex;
	justify-content: center;
	font-size : 2.3vmin;
	padding: 2vh 0;
	clear: both;
}

.project-description p {
	width: 75%;
}

@media screen and (max-width: 430px) {

	#desktop-nav {
		display: none;
	}

	div h1 {
		position: relative;
		top: 40px;
		padding: 15px;
	}

	#projects-container {
		padding-top: 5vh;
	}

	.menu-icon {
		float: left; 
		width: 50%;
		height: inherit;
		flex: 1;
		display: flex;
    	justify-content: left;
    	align-items: left;
	}

	.menu-icon {
		display: inline-block;
		padding: 1.2em;
	}

	.navbar-links {
		width: 100%;
		clear: both;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		margin-top: 10px;
    	padding: 0;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		text-align: center;
		padding: 0.7rem 0.7rem;
	}

	#mobile-nav.nav-menu {
		width: 100%;
		flex-direction: column;
		display: center;
	}

	#mobile-nav {
		z-index: 100;
	}

	#github-email-linkedin {
		z-index: 50;
	}

	#mobile-nav.nav-menu li {
		text-align: center;
	}

	#mobile-nav.active {
		display: block;
		width: 100%;
		z-index: 100;
	}

	#footer-container {
		display: none;
	}

	#footer-container-mobile {
		--num-cols: 3;
		--column-width: 15%;
		box-sizing: border-box;
		padding: var(--gap);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1.5%;
		clear: both;
		padding-bottom: 2vh;
	}

	#footer-container-mobile div img {
		width: 100%;
	}

	#right-side p {
	font-size : 1.8vmin;
}

}

@media screen and (max-width: 400px) {
	#hannamhamilton {
		font-size: 23pt;
	}
}
